/dj/IntegrationPlatform/Bluetooth/migrations/
/dj/IntegrationPlatform/Bluetooth/__pycache__
/dj/IntegrationPlatform/control/migrations/
/dj/IntegrationPlatform/control/__pycache__
/dj/IntegrationPlatform/dmx/migrations/
/dj/IntegrationPlatform/dmx/__pycache__
/dj/IntegrationPlatform/NBIoT/migrations/
/dj/IntegrationPlatform/NBIoT/__pycache__
/dj/IntegrationPlatform/OneWire/migrations/
/dj/IntegrationPlatform/OneWire/__pycache__
/dj/IntegrationPlatform/IntegrationPlatform/__pycache__
.idea
/.vscode
/dj/IntegrationPlatform/db.sqlite3
venv
/frontend/node_modules
/iot-platform/__pycache__
/iot-platform/actions/__pycache__
/iot-platform/api/__pycache__
/iot-platform/managers/__pycache__
/iot-platform/protocols/__pycache__